body{
    position:relative;
    background: #ffffff;
    color: #959595;
  }

  body:after{
    content: '';
    width: 0%;
    height: 0%;
    /* top:0; */
    top:50%;
    left:50%;
    z-index:-1;
    display:block;
    position:absolute;
    background: rgba(0,0,0,.7);
    opacity: 0;
    transition: all .3s ease-in-out;
  }

  

  h2{
    color: #575757;
  }

  h3{
    color: #575757;
  }

  a{
    color: #6AB82D;
    text-decoration: none;
    transition: hover 0.3s linear;
  }

  .header{
    background: rgb(243,243,243);
    background: linear-gradient(0 deg, rgba(243,243,243,1) 0%, rgba(212,212,212,1) 100%);
  }

  .color-switcher{
    background-color: #F8F8F8;
    box-shadow: 1px 0px 2px rgb(10 10 10 / 50%), 3px 0px 3px rgb(255 255 255);
  }
  
  .color-switcher:after{
    background: #6AB82D;
    box-shadow: 0px 0px 10px rgb(106, 184, 45, .5);
  }
  
  .color-switcher:hover{
    box-shadow: inset 1px 0px 7px rgb(10 10 10 / 30%);
  }
  
  .color-switcher:active{
    background: #a2a2a2;
  }

  .feed__list__item {
    border-bottom: 1px solid #A9D785;
}

.footer{
    background: #575757;
    color:#fff;
  }
